span {
  font-size: larger;
}

.main-div {
  background-color: tan;
  /* border: 2px solid black; */
  border-radius: 5px;
  width: 30%;
  height: 570px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, .12);
  margin: 0 auto;
}

.header-div {
  display: flex;
  flex: 1;
  background-color: rgb(233, 232, 232);
  justify-content: space-between;
  padding: 0px 20px;
}

.header-subDiv_1 {
  text-align: justify;
}
.header-subDiv_2 p {
  font-size: x-large;
  border: 1px solid rgb(158, 155, 155);
  padding: 1px 5px;
  font-weight: lighter;
}

.body-div {
  flex: 3;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.body-div .body-subDiv {
  flex: 1;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

label{
    display: block;
}

input[type=text]{
    flex: 1;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=email]{
    /* flex: 1; */
    width: 200%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number]{
    flex: 1;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select{
    flex: 1;
    width: 20%;
    padding: 12px 2px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.footer-div {
  flex: 1;
  background-color: white;
}


.footer-div button{
    background-color:  #f44336; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top:10px;
    cursor: pointer;
    border-radius: 5px;
}